@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Reset */
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    /* background: rgb(226, 226, 226); */
    background: whitesmoke;
}
.container {
    display: flex;
}
/* Sidebar */
nav {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    width: 75px;
    background: white;
    height: 100vh;
    overflow: hidden;
    transition: 0.5s;
}
nav:hover {
    width: 250px;
}
.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
}
.logo img {
    width: 45px;
    height: 45px;
}
.logo span {
    font-weight: bold;
    padding-left: 15px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 7px;
    margin-left: 20px;
}
a {
    position: relative;
    width: 250px;
    font-size: 14px;
    color: darkslategray;
    display: table;
    padding: 5px;
}
nav .fa-solid {
    position: relative;
    width: 70px;
    height: 40px;
    top: 10px;
    font-size: 20px;
    text-align: center;
}
.nav-item {
    position: relative;
    top: 7px;
    margin-left: 20px;
}
a.nav-menu:hover {
    background: whitesmoke;
}
a:hover i {
    color: rgb(0, 189, 247);
    transition: 0.5s;
}
.nav-logout {
    position: absolute;
    bottom: 0;
}
.nav-logout:hover i {
    color: red;
}
/* Sidebar End */
/* Main */
.main {
    position: relative;
    padding: 20px;
    width: 100%;
}
.main-top {
    display: flex;
    width: 100%;
}
.main-top i {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: darkslategrey;
}
.main .users {
    display: flex;
    width: 100%;
}
.users .card {
    width: 25%;
    margin: 10px;
    background: white;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 10px 20px #a7a7a7;
}
.users .card img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.users .card h4 {
    text-transform: uppercase;
}
.users .card p {
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.users table {
    margin: auto;
}
.users .per span {
    padding: 5px;
    border-radius: 10px;
    background: rgb(201, 201, 201);
}
.users td {
    font-size: 14px;
    padding-right: 15px;
}
.users .card button {
    width: 100%;
    margin-top: 10px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #0075c4;
}
.users .card button:hover {
    background: #0075c4;
    color: white;
    transition: 0.5s;
}
/* Main End */

/* Attendance List */
.attendance {
    margin-top: 20px;
    text-transform: capitalize;
}
.attendance-list {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px #a7a7a7;
}
.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
table thead tr {
    color: white;
    background: #03b3e9;
    text-align: left;
    font-weight: bold;
}
.table th,
.table td {
    padding: 12px 15px;
}
.table tbody tr {
    border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(odd) {
    background: #f3f3f3;
}
.table tbody tr.active {
    font-weight: bold;
    color: #03b3e9;
}
.table tbody tr:last-of-type {
    border-bottom: 2px solid #03b3e9;
}
.table button {
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #03b3e9;
}
.table button:hover {
    background: #03b3e9;
    color: white;
    transition: 0.3s;
}
/* Attendance List End */
